@import "../../../../assets/scss/colors";
 :host {
  width: 100%;
  height: 100%;
}

section.dashboard-stats {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  
  header {
    color: white;
    background-color: gold;
    padding: 1em;
   
  }

  div.charts {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5em 1em;
    div.red-chart,
    div.orange-chart,
    div.purple-chart,
    div.blue-chart {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0.5em;
      width: calc(100% / 4 - 0.5em);
      height: 150px;
      border-radius: 5px;
      background: linear-gradient(to right, #2dc1c9 0%, #2194c1 30%, #02b2f8 100%);

      div.text {
        padding-left: 0.5em;
        p {
          margin: 0;
          color: white;
          font-weight: 300;
        }

        h3 {
          margin: 0;
          color: white;
          font-weight: 300;
          font-size: 2em;
        }

       
      }
      svg {
        height: 75px;
        width: 100%;
        overflow: hidden;
        vertical-align: middle;
        filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.8));

        .ct-line {
          stroke: #fff;
          fill: none;
          stroke-width: 3px
        }

        .ct-grids {
          line {
            stroke-dasharray: 0;
            stroke: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }

    div.red-chart {
      background: linear-gradient(to right, #e05e71 0%, #d15467 30%, #913845 100%);
    }

    div.orange-chart {
      background: linear-gradient(to right, #fcac73 0%,#d67e5e 30%,  #ee6533 100%); 
       }
       div.purple-chart {
      background: linear-gradient(to right, #b27cf0 0%, #a15eee 30%, #7b19ec 100%); 
       }
  }

  div.graphs {
    display: flex;
    align-items: center;
    height:40%;
    justify-content: space-between;
    padding: 0.5em 1em;
    div.ratio {
      background-color: $card-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      border-radius: 3px;
      width: calc(100% / 3 - 0.5em);
      height: 100%;

      div.text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          margin: 0;
          color: #009DA0;
          font-size: 1.5em;
          font-weight: 300;
          
        }
        .fireDrillOrange{
          color:#d67e5e;
        } 
        .physicalRed{
          color:#d15467
        }

        .precent-h2{
           color: darkgrey;;
          margin:0;
          font-weight: 400;
        }
        p {
          margin: 0;
          color:lightgray;
          display: flex;
          align-items: center;
          padding: 0.5em;
          span {
           color: #757575;
            padding-left: 0.5em;
          }
          u{
            color: #009DA0;
          }
          .fireDrillOrange{
            color:#d67e5e;
          } 
          .physicalRed{
            color:#d15467
          }
        }
      }

      svg {
        vertical-align: middle;
      }
    }
  }

  div.tables{
    height:40%;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
   .combatReadiness,.recommendation{
    
      background-color: $card-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 3px;
      height: 100%;
      box-sizing: border-box;
  }
  .recommendation{
    height: 100%;
    width: 60%;
    padding: 1em; 
    display: flex;
    flex-direction: row;
  
      .wrapper{
          padding: 0.5em;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          display: flex;
          background: #35364b;
          justify-content: space-between;
          .column{
            display: flex;
            height: 100%;
            flex-direction: column;
            height: 100%;
            width: 33%;
          .body{
            background-color: #404258;
            border-radius: 3px;
            display: flex;
            justify-content: space-between;
            padding: 0.5em;
            align-items: center;
             margin-bottom: 10px;
            img{
              height: 50px;
              width: 50px;
            }
            .text{
              display: flex;
              flex-direction: column;
              color:white;
            }
              
          }
          .title{
            background-color: #404258;
            border-radius: 3px;
            background-color: #404258;
            border-radius: 3px;
            padding: 0.5em;
            margin-bottom: 10px;
            text-align: center;
            font-weight: 500;
           }
      }
    }
  }
  .combatReadiness{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 1em;
    width: calc(40% - .8em);
    .row{
      align-items: center;
      width: 100%;
      height: 70px;
    display: flex;
    justify-content: space-between;

    button{
      width: 18%;
    }
    .imgAndNameContainer{
      display: flex;
      width: 20%;
      align-items: center;
      justify-content: space-between;
      .avatar-img{
        height: 50px;
        width: 50px;
      }
      div{
        p{
          margin: 0;
          color: white;
        }
      }
    }
    .progressBar{
      background-color: #1c6a7c;
      width: 50%;
      height: 35px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .avg{
        background-color: #45955d;
         z-index: 9999;
        height: 35px;
      }
    }
  } 
  }
}
}
.fireDrillOrange{
  color:#d67e5e;
} 
.turkiz {
  color: #009DA0;
}
.physicalRed{
  color: #d15467;
}