<section>
  <div class="gray">
    <div class="cardsContainer">
      <div class="card">
        <div class="card-title">
          <h4>Hit Ratio</h4>
          <i class="material-icons">
            show_chart
          </i>
        </div>
        <div>
          76%
        </div>
      </div>
      <div class="card">
        <header>
          <h4>Hit Ratio</h4>
          <i class="material-icons">
            show_chart
          </i>
        </header>
        <div>
          76%
        </div>
      </div>
      <div class="card">
        <header>
          <h4>Hit Ratio</h4>
          <i class="material-icons">
            show_chart
          </i>
        </header>
        <div>
          76%
        </div>
      </div>
      <div class="card">
        <header>
          <h4>Hit Ratio</h4>
          <i class="material-icons">
            show_chart
          </i>
        </header>
        <div>
          76%
        </div>
      </div>
    </div>
  </div>
</section>
