<section class="main-dashboard" ngxUiLoaderBlurred blur="10">
  <aside>
    <div class="opacs"></div>
    <div class="logo" [routerLink]="'/'">
      <img src="../assets/icons/ontraining.png">
      <p class="powered"> Powered By ADL</p>
    </div>
    <div class="links">
      <a class="hoverable" [routerLink]="'dashboard'">
        <img src="../assets/icons/dashboard.png">
        <p>Commander Dashboard</p>
      </a>
      <a style="flex-direction: column;align-items: baseline;">
        <span style="display: flex;">
        <img src="../assets/icons/team.png">
        <span class="team-title">Team</span></span>
        <p>
          <span class="team-wrapper">
          <span (click)="goToPersonal()" class="hoverable"> Alon Katvan</span>
          <span (click)="goToPersonal()" class="hoverable"> Omer Yaari</span>
          <span (click)="goToPersonal()" class="hoverable"> Evi Cohen</span>
          <span (click)="goToPersonal()" class="hoverable" >Boaz Yaari</span>
        </span>
        </p>
      </a>
      <a>
        <img src="../assets/icons/TrainingBoard.png">
        <p>Training Board</p>
      </a>
    </div>
  </aside>
  <!--   Router Outlet goes here -->
  <div class="switching-content">
    <router-outlet></router-outlet>
  </div>
</section>
<ngx-ui-loader></ngx-ui-loader>
