<section class="container">
  <div class="personal-details-container">
    <div class="breadcrumbs">
    <span>DIVISION 35 /BATTALION 101 / SQUAD C
</span>
    </div>
    <div class="img-name-container">
      <div class="img-container">
        <img src="assets/icons/Alon_katvan.png">
      </div>
      <span class="user-name">Alon Katvan</span>
    </div>
  </div>
  <div class="tabs-container">
    <mat-tab-group mat-stretch-tabs (selectedIndexChange)="selectedIndexChange($event)">

      <mat-tab label="Combat Readiness" isActive="">
        <app-combat-rediness></app-combat-rediness>
      </mat-tab>
      <mat-tab label="Statistics">
        <app-statistics></app-statistics>
      </mat-tab>
      <mat-tab label="Activities">
        <app-trainings></app-trainings>
      </mat-tab>
      <mat-tab label="Personal Information"> Content 3</mat-tab>
    </mat-tab-group>
  </div>
</section>

