@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$routing-primary: mat-palette($mat-indigo);
$routing-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$routing-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$routing-theme: mat-light-theme($routing-primary, $routing-accent, $routing-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($routing-theme);

/* You can add global styles to this file, and also import other style files */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-toolbar {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.ag-theme-material{
  background-color:#404258ed !important;
  color: white;
}
.ag-header-cell{
  background-color:#404258ed !important;
}
.ag-header{
  background-color:#404258ed !important;
}
.ag-header-cell-text{
  color: #B88C00;
}
.ag-header-cell-label{
  justify-content: center;
}
.ag-theme-material{
   .ag-row-hover{
     background-color: #35364bed;
    }
  }
  .ag-theme-material{
    .ag-row-selected{
      background-color: #ffffff75;
  }
} 
  