<div class="grid-container">
  <div class="hit">
    <div class="title">
      <h4 class="turq">HIT Ratio Shooting Range</h4>
      <div class="ratio">
        <span class="turq">142</span>
        <span class="gray">/200</span>
      </div>
    </div>
    <div id="chartHitRatioShootingRange" style="height: 80%; width: 100%"></div>
    <div class="bottom-wrapper">
      <h6 class="turq"> Team Average Hit Ratio </h6>
      <span class="all-team-precent"> 62% </span>
    </div>
  </div>
  <div class="steps">
    <div class="title">
      <h4 class="orange">Steps</h4>
      <span class="distance">9.1 km</span>
      <span class="orange"> Distance </span>
    </div>
    <div id="stepsChart" style="height: 70%; width: 60%"></div>
    <div class="bottom-wrapper">
      <h6 class="orange"> Team Average Steps </h6>
      <span class="all-team-precent"> 13.56 </span>
    </div>
  </div>
  <div class="sleep">
    <div class="title">
      <h4 class="red">Sleep</h4>
    </div>
    <div id="chartSleep" style="height: 80%; width: 90%"></div>
    <div class="bottom-wrapper">
      <h6 class="red"> Team Average Sleep </h6>
      <span class="all-team-precent">6h 37m </span>
    </div>
  </div>


  <div class="hitdrill">
    <div class="title-hitdrill">
      <h4 class="kaki">HIT Ratio Shooting Range</h4>
      <div class="hitdrill-ratio">
        <span class="kaki">96</span>
        <span class="kaki2">/200</span>
      </div>
    </div>
    <div id="chartHitRatioFireDrill" style="height: 80%; width: 60%"></div>
    <div class="bottom-wrapper">
      <h6 class="kaki"> Team Average Hit Ratio </h6>
      <span class="kaki2"> 62% </span>
    </div>

  </div>
  <div class="running">
    <h4 class="last-run">Last Running</h4>
    <div class="top">
      <div class="card">
        <span>8.01 km</span>
        <span>Distance</span>
      </div>
      <div class="card">
        <span>45:08</span>
        <span>Time</span>
      </div>
      <div class="card">
        <span>5:38 min/km</span>
        <span>Avg Page</span>
      </div>
    </div>
    <div class="bottom">
      <div class="card">
        <span>26 m</span>
        <span>Elley Gain</span>
      </div>
      <div class="card">
        <span>26 m</span>
        <span>Avg HR</span>
      </div>
      <div class="card">
        <span>49</span>
        <span>V02max</span>
      </div>
    </div>
    <div class="summary">
      <span class="orange">Team Average VO2max</span>
      <span> 52 </span>
    </div>
  </div>
  <div class="stress">
    <div class="title">
      <h4 class="red">Stress</h4>
    </div>
    <div id="chartStress" style="height: 80%; width: 90%"></div>
    <div class="bottom-wrapper">
      <h6 class="orange"> Team Average Stress </h6>
      <span class="all-team-precent">42</span>
    </div>
  </div>
</div>
