@import "../../../../assets/scss/colors";

div.graphs {
  display: flex;
  align-items: center;
  height: 60%;
  justify-content: space-between;
  padding: 0.5em 1em;

  div.ratio {
    background-color: $card-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 3px;
    width: calc(100% / 2 - 0.5em);
    height: 100%;

    div.summary{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
      height: 15%;
      flex-direction: column;
      span{
        width: 35%;
        text-align: center;
        color: gray;
      }
    }
    div.text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      h3 {
        margin: 0;
        color: #009DA0;
        font-size: 1.5em;
        font-weight: 300;
        padding-top: 10px;

      }

      .fireDrillOrange {
        color: #d67e5e;
      }

      .physicalRed {
        color: #d15467
      }

      .precent-h2 {
        color: darkgrey;;
        margin: 0;
        font-weight: 400;
      }

      p {
        margin: 0;
        color: lightgray;
        display: flex;
        align-items: center;
        padding: 0.5em;

        span {
          color: #757575;
          padding-left: 0.5em;
        }

        u {
          color: #009DA0;
        }

        .fireDrillOrange {
          color: #d67e5e;
        }

        .physicalRed {
          color: #d15467
        }
      }
    }

    svg {
      vertical-align: middle;
    }
  }
}
div.bottom-charts-container {
  display: flex;
  flex-direction: column;
  height: 35%;
  padding: 0.5em 1em;

  div.chart-and-reccomendations {
    display: flex;
    display: flex;
    height: 100%;
    justify-content: space-between;

    div.personal-training-progress-container {
      background-color: $card-bg;
      width: 60%;
      border-radius: 3px;

      header {
        display: flex;
        justify-content: space-between;
        height: 15%;
        padding: 0.5em;

        span {
          color: white;
          font-weight: 100;
          font-size: 20px;
        }
      }

      .personal-training-chart {
        height: 75%;
        width: 95%;
      }

    }

    div.recommendations {
      background-color: $card-bg;
      width: 39%;
      border-radius: 3px;
      padding: 0.5em;
      box-sizing: border-box;
      overflow-y: auto;
    }

  }


}
.orange {
  color: #d67e5e;
}

.turq {
  color: #1a7883;
}

.red {
  color: #d15467;
}

.precent-h2 {
  color: #d15467;
  margin: 0;
  font-weight: 400;
  text-align: center;
  .turq{}
}
.precent-h2.turq{
  color: #1a7883;

}
.shooting-summary {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 15px;
  text-align: center;
  justify-content: space-between;

  .shooting-summary-col {
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: lightgray;
  }
}

.recom-title {
  color: white;
  font-size: 20px;
  height: 35px;
  font-weight: 100;
}


